<img src="https://image.ibb.co/jZz8yQ/clan.png" alt="">
<h2>About Us</h2>
<h4>We are "The Dream Cream" and our motto is "The Cream of Your Dreams". This clan was founded by David Shin alongside with his friend Paul Lim early 2016 when Clash Royale was released in the US. We have 50/50 members and the majority of the members are active players who are willing to donate cards and push for the clan trophy. We have minimum trophy requirement of 2800 so all of our members are relatively skilled players.</h4>
